port: :8082
ginMode: release # debug or release

redisURL: redis://@localhost:6379/3

arweaveURL: https://arweave.net
hymxURL: http://127.0.0.1:8080 # for sending messages via the SDK

prvKey: 0xbf9cdeced304f1ef845362c4527fe4ddaecb3fa36fa9ed615447abdffdd16418
keyfilePath:

nodeName: PayTestNode
nodeDesc: payment node
nodeURL: http://127.0.0.1:8082

joinNetwork: true

# ---- Payment Configuration ----
# only support evm address
enablePayment: true # toggle payment system on/off

payment:
  prvKey: 0x1ff6b9ed3e98da7fab080d062a3fab77f60c9ba0017ef2bc43aea8ccb74fbddb
  settlementAddress: 0x0b1A48055E9cCf6A30f8AAfE00bD48a860b9C1A0 # use ethereum address(evm)
  axToken: 4dTm0TJxkhx87wnvUU6O3RdTIIBAVhTYWIPu7eeKPhA
  axURL: http://127.0.0.1:8080
  txFee: 10000000000            # 0.01 tAX (12 decimals)
  spawnFee: 100000000000        # 0.1 tAX (12 decimals)
  residencyFee: 10000000000     # 0.01 tAX (12 decimals)
  dailyLimit: 5                 # 5 free calls
  developerShareRatio: 5000     # basis points, 5000 = 50%