package {{ .Package }}

import (
	"github.com/hymatrix/hymx/common"
	vmmSchema "github.com/hymatrix/hymx/vmm/schema"
)

var log = common.NewLog("{{ .Package }}")

func Spawn(env vmmSchema.Env) (vm vmmSchema.Vm, err error) {
	vmd, err := New(env)
	if err != nil {
		return
	}

	log.Info("spawn process success", "pid", env.Meta.Pid, "from", env.Meta.AccId)
	return vmd, nil
}

type {{ capitalize .Package }} struct {
	pid string
	Env vmmSchema.Env
	
	// Insert your code here
}

func New(env vmmSchema.Env) (*{{ capitalize .Package }}, error) {
	return &{{ capitalize .Package }}{
		pid: env.Meta.Pid,
		Env: env,
	}, nil
}

func (v *{{ capitalize .Package }}) Apply(from string, meta vmmSchema.Meta) (res vmmSchema.Result) {
	return
}

func (v *{{ capitalize .Package }}) Checkpoint() (data string, err error) {
	return
}

func (v *{{ capitalize .Package }}) Restore(data string) error {
	return nil
}

func (v *{{ capitalize .Package }}) Close() error {
	return nil
}
