{"signatureType":3,"signature":"S4LNe7emtbRJoN95tkk_CNyfOTKWACetgIS3KBOb5lg__QWjjTXp9QV4LKMeTPo6GsXl6pt9Px-e-Y0LiTm6ERs","owner":"BILUWlxt_hAeIQfK1dKrBL0uedOSNWWllcj--qzh858vfvpLt_OE727MBHICN8VRnyaOBVVsWfe2tVmjgyLpHdc","target":"","anchor":"","tags":[{"name":"Data-Protocol","value":"hymx"},{"name":"Variant","value":"v1.0.0"},{"name":"Type","value":"Module"},{"name":"Module-Format","value":"hymx.core.registry.0.0.0"},{"name":"Memory-Limit","value":""},{"name":"Compute-Limit","value":""}],"data":"","id":"MVTil0kn5SRiJELW7W2jLZ6cBr3QUGj1nJ67I2Wi4Ps","tagsBy":"DBpEYXRhLVByb3RvY29sCGh5bXgOVmFyaWFudAx2MS4wLjAIVHlwZQxNb2R1bGUaTW9kdWxlLUZvcm1hdDBoeW14LmNvcmUucmVnaXN0cnkuMC4wLjAYTWVtb3J5LUxpbWl0ABpDb21wdXRlLUxpbWl0AAA"}