{"signatureType":3,"signature":"4pHJYkS4KE7gbCsa9kKrD8llTuA5-bCDWW5Z-J1tkeci9YI7RS_zgvVNswfpiXxEqEIdcMqEdGef1MhojY0yWRw","owner":"BILUWlxt_hAeIQfK1dKrBL0uedOSNWWllcj--qzh858vfvpLt_OE727MBHICN8VRnyaOBVVsWfe2tVmjgyLpHdc","target":"","anchor":"","tags":[{"name":"Data-Protocol","value":"hymx"},{"name":"Variant","value":"v1.0.0"},{"name":"Type","value":"Module"},{"name":"Module-Format","value":"hymx.core.token.0.0.0"},{"name":"Memory-Limit","value":""},{"name":"Compute-Limit","value":""}],"data":"","id":"1i03Vpe8DljkUMBEEEvR0VmbJjvgZtP_ytZdThkVSMw","tagsBy":"DBpEYXRhLVByb3RvY29sCGh5bXgOVmFyaWFudAx2MS4wLjAIVHlwZQxNb2R1bGUaTW9kdWxlLUZvcm1hdCpoeW14LmNvcmUudG9rZW4uMC4wLjAYTWVtb3J5LUxpbWl0ABpDb21wdXRlLUxpbWl0AAA"}